@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
  --FF: 'Plus Jakarta Sans', sans-serif;
  --FS: 16px;
  --RED: hsl(1, 90%, 64%);
  --BLUE: hsl(219, 85%, 26%);
  --WHITE: hsl(0, 0%, 100%);
  --VERYLIGHTGRAYISHBLUE: #f7fafd;
  --LIGHTGRAYISHBLUE1: hsl(211, 68%, 94%);
  --LIGHTGRAYISHBLUE2: hsl(205, 33%, 90%);
  --GRAYISHBLUE: hsl(219, 14%, 63%);
  --DARKGRAYISHBLUE: hsl(219, 12%, 42%);
  --VERYDARKBLUE: hsl(224, 21%, 14%);
}

*, *::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--FF);
  font-size: var(--FS);
}

.main--container{
  padding: 30px 20px;
  margin-inline: auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}

button{
  all: unset;
  font-family: inherit;
  font-size: .9rem;
  color: var(--DARKGRAYISHBLUE);
  cursor: pointer;
}

.notification--counter{
  font-size: 1.2rem;
  background-color: var(--BLUE);
  color: var(--WHITE);
  padding-inline: 10px;
  border-radius: 4px;
  padding-bottom: 4px;
  top: 30px;
  position: absolute;
}


.notification--container{
  padding: 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  font-size: .8rem;
  margin-bottom: 10px;
}

.notification--avatar, .notification--img{
  width: 40px;
  height: 40px;
}

.notification--name{
  font-weight: bolder;
  color: var(--VERYDARKBLUE);
}

.nofitication--activity{
  color: var(--GRAYISHBLUE);
}

.notification--objectActivity{
  color: var(--DARKGRAYISHBLUE);
  font-weight: bolder;
}

.notification--group{
  font-weight: bolder;
  color: var(--BLUE);
}


